amqp==2.6.1
astroid==2.4.2
billiard==3.6.3.0
celery==4.4.7
click==7.1.2
fastapi==0.61.1
flake8==3.8.3
h11==0.9.0
httptools==0.1.1
isort==5.4.2
kombu==4.6.11
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycodestyle==2.6.0
pydantic==1.6.1
pyflakes==2.2.0
pylint==2.6.0
pymongo==3.11.0
pytz==2020.1
redis==3.5.3
six==1.15.0
starlette==0.13.6
toml==0.10.1
uvicorn==0.11.8
uvloop==0.14.0
vine==1.3.0
websockets==8.1
wrapt==1.12.1
